body {
    line-height: 1.75em;
    color: rgba(0,0,0,0.75);

    /* Always shows scrollbars so the ESG image doesn't shift between long
       pages and short pages when scrollbar is present/not present. */
    overflow-y: scroll;
    font-size: 1.2em;
    background-color: #E5E5E5;
}

div.main {
    max-width: 1000px;
    margin: 0 auto;  
    background-color: #00274C;
}

li {
    line-height: 125%;
}

ul.category li {
    line-height: 150%;
}

li li:first-child {
    margin-top: -15px;
}

li li:last-child {
    margin-bottom: -15px;
}

div.content {
    margin: 0.5em 2em 2em 2em;
    color: white;
}

div.biographies img {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.9));
}

div.biography {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 48em) {
    div.biography {
        display: table;
    }

    div.biography:nth-child(even) .imger {
        padding-left: 4em;
    }
}

div.biography .imger { 
    vertical-align: middle;
    display: table-cell;
}

div.biography div.text {
    width: 100%;
}

div.biography p {
    text-align: justify;
}

div.footer-container {
    margin-top: 3em;
    text-align: center;
    padding-bottom: 1em;
    border-style: solid;
    border-width: 20px 0 0 0;
    border-color: #FFCB05;
    background-color: #00274C;
    color: white;
}

h2 {
    font-weight: bold;
}

* {
    font-family: 'Gentium Book Basic', serif;
}

ul.subcategory {
    margin: 15px 0;
    list-style: none;
    padding-left: 1em;
}

a:hover, a:focus {
    text-decoration: underline;
}

a {
    color: #FFCB05;
    text-decoration: none;
}

iframe {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul.category {
    border-style: solid;
    border-width: 10px 0 0 10px;
    margin-right: 20%;
    padding-top: .5em;
    border-color: #FFCB05;
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    color: #00274C;
}

table.pure-table {
    color: #FFF;
}

div.nav{
    text-decoration: none;
    text-align: center;
    padding: .5cm .5cm;
}
div.nav li {
  display: inline;
}

